/* Write your CSS here */

.bg-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(140, 245, 124);
  }
  
  .employees {
    color: #1a4fed;
    margin: 10px;
    align-self: center;
  }
  
  .ul-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    list-style: none;
    justify-content: space-around;
    align-items: center;
    overflow-y: auto;
    width: 800px;
    background-color:rgb(140, 245, 124);
    min-height:400px;
    max-height:1150px;
  }
  
  .search-input {
    width: 300px;
    padding: 7px;
    border-radius: 3px;
    border: 1px solid grey;
    margin: 20px;
    background-color:aliceblue
  }
  